<div class="item-catalogo shadow">
  <h1>plan</h1>
  <div class="card-header red-tilte text-center">
    <h4>{{ data.name }}</h4>
  </div>
  <div class="card-body text-center">
    <div class="info-black">
      {{ data.description }}
    </div>
    <!-- <div class="info-red">
      <div class="text-red">$ {{ precioPlan | number: '1.0-0' }}</div>
      <div class="text-black">IVA Incluido</div>
    </div>
    <div class="info-small-black">
      Mensajes de texto <strong>{{ mensajesPlan }}</strong>
    </div>
    <div class="info-small-black">
      Minutos <strong>{{ minutosPlan }}</strong>
    </div>
    <div class="info-buttons">
      <button class="btn red-border" (click)="mostrar()">Ver detalle</button>
      <button class="btn red-background" (click)="agregar()">Añadir al carrito</button>
    </div> -->
  </div>

</div>
