/* styles grid */
.item-catalogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
  }
}

.red-tilte {
  background-color: #e02020;
  color: white;
}

.info-black {
  font-size: 48px;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: 700;
}

.text-red {
  font-size: 40px;
  color: #e02020;
  font-weight: 700;
}

.text-black {
  font-size: 24px;
  font-weight: 700;
}

.info-small-black {
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 9px 0;
}

button.btn.red-border,
button.btn.red-background {
  font-size: 16px;
  width: 100%;
  border-radius: inherit;
}

button.btn.red-background {
  background-color: #e02020;
  color: #fff;
}
.info-red {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

button.btn.red-border {
  border: 1px solid #e02020;
  color: #e02020;
  margin-bottom: 8px;
}

.box-sell .card-body {
  padding: 0.6rem;
}

.info-buttons {
  padding-top: 12px;
}

.row.form-search .col-sm-8 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.card-deck.mb-3.text-center {
  width: 100%;
}
.pagination {
  margin: 0 auto;
  display: block;
  width: 100%;
}
.custom-pagination ::ng-deep .ngx-pagination .current {
  background-color: #e02020 !important;
}
